/* Home section */
/* Prev color: #0e76a8 */
:root{
  --name-color: rgb(0, 164, 255);
}
body {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: #111;
  text-align: center;
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* === Team card CSS === */
#row{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  color: white;
}
@media (max-width:1330px){
  #row{
    width: 100%;
  }
}
.containert{
  /* position: relative; */
  width: 25rem;
  margin: 1em 2em;
}
.containert .cards{
  position: relative;
  width: 16rem;
  height: 18rem;
  background: linear-gradient(#2196f3,#2196f3 30%, #1d3548 30%,#1d3548);
  margin: 1em auto;
  overflow: hidden;
  border-radius: 0.5rem;
  /* border: rgb(56, 66, 68) 1px solid; */
}
.containert .cards .imgbx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 100000;
  overflow: hidden;
  transform-origin: top;
  border-radius: 0.5rem;
}
.containert .cards .imgbx img{
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.containert .cards:hover .imgbx{
  transform: translateY(1.5rem)scale(0.5);
} 
.containert #nohover:hover .imgbx{
  transform: translateY(0)scale(1);
} 
.containert .cards .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1.5rem;
  transform: translateY(100%);
  transition: 0.5s;
}
.containert .cards:hover .content{
  transform: translateY(0);
}
.containert .cards .content .details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.containert .cards .content .details h2{
  color: #fff;
  font-size: 1.2em;
  font-weight: 450;
}
.containert .cards .content .details h2 span{
  font-size: 0.8em;
  font-weight: 400;
  color: #03a9f4;
}
.social_icons{
  position: relative;
  display: flex;
  margin-top: 0.3rem;
}
.social_icons li{
  list-style: none;
  margin: 0.22rem;
}
.social_icons li a{
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #294d69;
  border-radius: 50%;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.social_icons li a:hover{
  transform: rotate(360deg);
  background: #03a9f4;
}
/* === END OF Team card CSS === */

@media screen and (max-width:767px) {
  .disappear {
      display: none;
  }
}

.footer {
  text-align: center;
}

.socialhandles {
  text-align: left;
}

.socialhandles img {
  height: 30px;
  width: 40px;
}
.socialhandles a {
  text-decoration: none;
  color: black;
}

.rounded-social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rounded-social-buttons .social-button {
  margin: 0 10px;
  display: flex;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
justify-content: center;
align-items: center;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.github {
  background: black;
}

.rounded-social-buttons .social-button.github:hover,
.rounded-social-buttons .social-button.github:focus {
  color: black;
  background: #fefefe;
  border-color: black;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.instagram {
  background: #aa076b; /* fallback for old browsers */
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #e1306c;
  background: white;
  border-color: #e1306c;
}
.coep-logo-img{
  object-fit: contain;
  height: 70px;
  margin: -15px 0;
}
